.tabs .tab a:hover, .tabs .tab a.active {
    font-weight: bold;
    border-bottom: 2px solid #ee6e73;
}

.md-button.md-default-theme.md-primary, .md-button.md-primary {
    color: #009688 !important
}